# You should not need to edit this file. Instead, use a drop-in file as described in:
#   /usr/lib/systemd/system/mirrormagic.service.d/custom.conf

[Unit]
Description=Mirror Sorcerer ✨ 🪄 🪞 ✨
After=chronyd.service ntpd.service network-online.target
Requisite=network-online.target

[Service]
Type=simple
User=root
Environment=MIRROR_DEFS=/usr/share/mirrorsorcerer/pool.json
ExecStart=/usr/sbin/mirrorsorcerer -x -d
KillSignal=SIGINT

RestartSec=300s
Restart=on-failure

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
